.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  width: 90%;
  margin: auto;
  padding: 0;
}

li {
  padding: 1%;
  box-shadow: 0 0 5px 2px rgb(218, 218, 218);
  margin: 15px 0;
  transition: all .3s;
}

.unread-item {
  background-color: none;
}

.read-item {
  background-color: rgb(236, 236, 236);
}

button.mark-read {
  padding: 10px;
  box-shadow: 0 0 5px 2px rgb(218, 218, 218);
  margin: 10px 0;
  cursor: pointer;
  transition: all .3s;
  outline: none;
  border: none;
}

button.mark-read:hover {
  box-shadow: 0 0 5px 2px rgb(163, 163, 163);
}

.clock {
  box-shadow: 0 0 5px 2px rgb(3, 0, 0);
  padding: 10px;
  margin: 0 10px;
}