.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  box-shadow: 0 0 5px 2px rgb(218, 218, 218);
  list-style-type: none;
  width: 60%;
  margin: auto;
  padding: 10px;
  align-items: left;
}

li {
  padding: 1%;
  margin: 15px 0;
  transition: all .3s;
}


.uninterested-item {
  background-color: none;
}

.interested-item {
  background-color: rgb(236, 236, 236);
  color: rgb(195, 194, 194);
}

.clickable {
  font: inherit;
  padding: 10px;
  box-shadow: 0 0 5px 2px rgb(218, 218, 218);
  margin: 10px 5px;
  cursor: pointer;
  transition: all .3s;
  outline: none;
  border: none;
}

a.source-anchor,
p.meta-data {
  text-decoration: none;
  color: rgb(192, 192, 192);
}

p.meta-data {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a.source-anchor,
a.anchor-title {
  padding: 5px;
}

a.source-anchor:hover {
  color: rgb(0, 0, 0);
  padding: 5px;
}

a.anchor-title{
  background: none;
  text-decoration: none;
  color: rgb(109, 109, 109);
  font-weight: bold;
}

a.anchor-title:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.clickable:hover {
  box-shadow: 0 0 5px 2px rgb(163, 163, 163);
}

.clock {
  box-shadow: 0 0 5px 2px rgb(3, 0, 0);
  padding: 10px;
  margin: 0 10px;
}

.search-bar {
  font: inherit;
  outline: none;
  border-radius: 25px;
  border: none;
  padding: 20px;
  width: 50%;
  height: 15px;
  margin: 10px auto;
  box-shadow: 0 0 5px 2px rgb(218, 218, 218);
  transition: all .3s;
}

.search-bar:hover,
.search-bar:focus {
  box-shadow: 0 0 5px 2px rgb(175, 175, 175);
}

.error-div {
  color: red;
}

.error-header {
  font-size: 2rem;
}
.hidden {
  display: none;
}